<div class="c-categories" style="display: none;">

    {% capture cats %}{% for cat in site.categories %} {{ cat | first }} {% endfor %} {% endcapture %} 
    
    {% assign sortedCats = cats | split: ' ' | sort %} 
    
    {% for category in sortedCats %}
      <h2>{{ category }}</h2>
      <hr size="1" />
      <ul>
        {% for post in site.categories[category] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}

  </div>


